p{
    color: red;
    background-color: blue;
    display: inline;
    align-items: center;
    justify-content: center;
}

.help{
    color: brown;
    height: 200px;
    width: 200px;
    background-color: chartreuse;
}